 
body{
    background-color:whitesmoke;
    color: purple;
 
}
h1{
    text-align:center;
    margin-top:3rem;
    font-size:9vw;
    font-family: 'Orbitron', sans-serif;
    word-spacing:1rem;
}
.container{
    display:flex;
    gap:10rem;
    justify-content:center;
    align-items:center;
    height:80vh;
    margin-top:5rem;
}
.format{
    color:white;
    border:5px solid white;
    border-radius:10%;
    text-align:center;
    height:60vh;
}
.container .col1{
    background-color:#8FCCFF;
}
.container .col2{
    background-color:#20BF9F;
}
h3{
    letter-spacing:3px;
    word-spacing:4px;
    margin-top:20px;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
}
.word{
    font-weight:bolder;
    letter-spacing:20px;
    margin-top:50px;
    font-size:30px;
    padding:0 55px 0 55px;
    max-width:25%;
}
.button1{
    margin:20px 0 20px 0;
    font-size:20px;
    font-family: 'Orbitron', sans-serif;
    background-color:green;
    color:white;
    word-spacing:5px;
    padding:15px 40px 15px 40px;
    border-radius:20px;
    border:4px solid white;
    cursor:pointer;
}
.button1:hover{
    background-color:white;
    color:green;
    border:4px solid green;
}
.button1:hover:active{
    opacity:0.5;
}

@media(max-width:1000px){
    .container{
        flex-direction:column;
        height:100vh;
        gap:5rem;
        margin:10em 0 10em 0;
    }
}
@media(max-width:400px){
    .format{
        width:40vh;
        height:70vh;
    }
    .word{
        font-size:20px;
        letter-spacing:15px;
        margin-left:-15px;
    }
}